.CyberSecurity {
    margin: 20px;
    padding: 0px 20px;
}

.CyberSecurity h2 {
    margin: 10px 50px;
}

.CyberSecurity p {
    margin: 20px;
    text-align: justify;
}

ul {
    margin-left: 90px;
}
